@model PastebookEntityFramework.PB_USER

@{
    ViewBag.Title = "Pastebook";
}

<div class="form-horizontal home">
    <div class="col-md-4">
        <div class="col-md-4">
            <a href="@Url.Action("Index", "Profile", new { username = Model.USER_NAME })">
                <img src="~/Content/Images/default-profile-picture.png" alt="Profile Picture" class="img-thumbnail"> 
            </a>
        </div>
        <div class="col-md-8 txtFullName">
            @Html.ActionLink(Model.FIRST_NAME + " " + Model.LAST_NAME, "Index", "Profile", new { username = Model.USER_NAME }, new { @class = "name" })
        </div>
    </div>

    <div class="col-md-7 reloadView">
        @* news feed partial view *@
        @{ Html.RenderAction("NewsFeed", "Home", new { userID = Model.ID }); }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script>
        var CreatePostUrl = '@Url.Action("CreatePost", "Home")'
        var CreateCommentUrl = '@Url.Action("CreateComment", "Home")'
        var ReloadViewUrl = '@Url.Action("NewsFeed", "Home", new { userID = (int)Session["CurrentUserID"]})'
    </script>
    <script src="~/Scripts/pastebook/home.js"></script>
    <script src="~/Scripts/pastebook/post.js"></script>
}
