<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/Content/Images/pastebook-icon.png" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @*<div class="navbar-header">
                    <div class="navbar-brand">
                        <img src="~/Content/Images/pastebook-logo.png" alt="Pastebook" class="img-responsive" />
                    </div>
                </div>*@
            @if (Session["CurrentUser"] != null)
            {
                <div class="navbar-header">
                    @*<div class="navbar-brand">
                        <a href="@Url.Action("Index","Home")">
                            <img src="~/Content/Images/pastebook-icon.png" alt="Pastebook" class="img-responsive" />
                        </a>
                    </div>*@
                    @Html.ActionLink("Pastebook", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li class="txtSearch"><input type="text" class="form-control txtSearch" placeholder="Search for people you may know..."></li>
                        <li class="btnSearch"><button class="btn btn-default">Search</button></li>
                        <li>@Html.ActionLink(Session["FirstName"].ToString(), "Index", "Profile",
                                             new { username = Session["Username"].ToString()}, null)</li>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Friends
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Friend request", "Index", "Home")</li>
                                <li>@Html.ActionLink("Friend request", "Index", "Home")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Notifications
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Notification", "Index", "Home")</li>
                                <li>@Html.ActionLink("Notification", "Index", "Home")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Account
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Settings", "Index", "Home")</li>
                                <li>@Html.ActionLink("Logout", "LogOut", "User")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
