<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/Content/Images/pastebook-icon.png" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navar-brand container">
            <a href="@Url.Action("LogIn","Account")">
                <img src="~/Content/Images/pastebook-logo.png" alt="Pastebook" class="imgAccount" />
            </a>
        </div>
    </div>

    @if (Session["CurrentUser"] != null)
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        <img src="~/Content/Images/pastebook-logo.png" alt="Pastebook" id="imgHome" />
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li id="navUser">
                            @Html.ActionLink(Session["FirstName"].ToString(), "Index", "Profile",
                                             new { username = Session["CurrentUser"].ToString() }, null)
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-user"></span>
                            @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Friend</a></li>
                                <li><a href="#">Friend</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-globe"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Notification</a></li>
                                <li><a href="#">Notification</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-lock"></span>
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink(Session["FirstName"].ToString(), "Index", "Profile",
                                             new { username = Session["CurrentUser"].ToString() }, null)
                                </li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Settings", "Index", "Home")</li>
                                <li>@Html.ActionLink("Logout", "LogOut", "Account")</li>
                            </ul>
                        </li>
                    </ul>

                    <form class="navbar-form">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" placeholder="Search people you know...">
                                <button class="input-group-addon">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
