@model PastebookWebApplication.Models.RegisterViewModel

@{
    ViewBag.Title = Model.User.FIRST_NAME + " " + Model.User.LAST_NAME;
}

<div class="form-horizontal home clearfix">
    <div class="col-md-3 col-md-offset-1">
        <div class="col-md-12">
            <img src="~/Content/Images/default-profile-picture.png" alt="Profile Picture" class="img-thumbnail imgProfilePicture">
            <div class="divUploadPicture">
                <label class="btn btn-default btn-file btn-block btnUploadPicture" data-toggle="modal" data-target="#mdlUploadPicture">
                    Update profile picture
                </label>
            </div>
            <div class="divAboutMe">
                <label class="col-md-6">About Me:</label>
                <a href="#" class="col-md-4 col-md-offset-2 txtEdit" data-toggle="modal" data-target="#mdlAboutMe">+ Edit</a>
                <p class="txtPost col-md-12">Say something about yourself...</p>
            </div>
            <div class="form-inline">
                <div class="form-group frmViewInfo frmViewDetails">
                    @Html.LabelFor(model => model.User.USER_NAME,
                                htmlAttributes: new { @class = "control-label col-md-3 lblViewDetails" })
                    <div class="col-md-9">
                        <p class="form-control-static">@Model.User.USER_NAME</p>
                    </div>

                    @Html.LabelFor(model => model.User.EMAIL_ADDRESS,
                                htmlAttributes: new { @class = "control-label col-md-3 lblViewDetails" })
                    <div class="col-md-9">
                        <p class="form-control-static">@Model.User.EMAIL_ADDRESS</p>
                    </div>

                    @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-3 lblViewDetails" })
                    <div class="col-md-9">
                        <p class="form-control-static name">@Model.User.FIRST_NAME @Model.User.LAST_NAME</p>
                    </div>

                    @Html.LabelFor(model => model.User.GENDER,
                                htmlAttributes: new { @class = "control-label col-md-3 lblViewDetails" })
                    <div class="col-md-9">
                        @{
                            if (Model.User.GENDER == "m")
                            {
                                <p class="form-control-static">Male</p>
                            }
                            else if (Model.User.GENDER == "f")
                            {
                                <p class="form-control-static">Female</p>
                            }
                            else
                            {
                                <p class="form-control-static">Unspecified</p>
                            }
                        }
                    </div>

                    @Html.LabelFor(model => model.User.BIRTHDAY,
                                htmlAttributes: new { @class = "control-label col-md-3 lblViewDetails" })
                    <div class="col-md-9">
                        <p class="form-control-static">@Model.User.BIRTHDAY.ToString("MMMM dd, yyyy")</p>
                    </div>

                    @Html.LabelFor(model => model.User.COUNTRY_ID,
                                htmlAttributes: new { @class = "control-label col-md-3 lblViewDetails" })
                    <div class="col-md-9">
                        @{
                            <p class="form-control-static">
                                @Model.Countries.Where(x => x.ID == Model.User.COUNTRY_ID).SingleOrDefault().COUNTRY
                            </p>
                        }
                    </div>

                    @Html.LabelFor(model => model.User.MOBILE_NO,
                                htmlAttributes: new { @class = "control-label col-md-3 lblViewDetails" })
                    <div class="col-md-9">
                        <p class="form-control-static">@Model.User.MOBILE_NO</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <a href="#" class="txtProfileFullName">@Model.User.FIRST_NAME @Model.User.LAST_NAME</a>
        <a href="#" class="btn btn-primary divBtnGrp">Add Friend</a>
        <div class="tab-content">
            <div class="col-md-13 tab-pane reloadView active" id="timeline" data-toggle="tab">
                @{ Html.RenderAction("Timeline", "Profile", new { userID = Model.User.ID }); }
            </div>
        </div>
    </div>
</div>

<div id="mdlUploadPicture" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload Profile Picture</h4>
            </div>
            <div class="modal-body">

                <label class="btn btn-default btn-file btn-block btnUploadPicture">
                    Upload profile picture <input type="file" accept="image/*" class="flUpload">
                </label>
                @*<div id="EditImageHolder">*@
                @*@{
                        var base64 = Convert.ToBase64String(Model.PROFILE_PIC);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    }
                    <img src="@imgSrc" alt="Profile Picture" class="img-thumbnail" />*@
                @*</div>*@
                <button type="submit" class="btn btn-default">Upload</button>
            </div>
            <div class="modal-footer">
                <button id="btnClose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="mdlAboutMe" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit About me</h4>
            </div>
            <div class="modal-body">
                @Html.TextAreaFor(model => model.User.ABOUT_ME, htmlAttributes: new { @class = "control-label col-md-3 lblViewDetails" }))
            </div>
            <div class="modal-footer">
                <button id="btnClose" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="btnEdit" type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")

    <script>
        var CreatePostUrl = '@Url.Action("CreatePost", "Home")'
        var CreateCommentUrl = '@Url.Action("Actions", "Action")'
        var ReloadViewUrl = '@Url.Action("NewsFeed", "Home", new { userID = (int)Session["CurrentUserID"]})'
    </script>
    <script src="~/Scripts/pastebook/home.js"></script>
    <script src="~/Scripts/pastebook/post.js"></script>
}
